themes {
    default {
        fg "#03040C"
        bg "#9A6C69"
        black "#fff8f1"
        red "#595268"
        green "#CF9074"
        yellow "#34538A"
        blue "#596991"
        magenta "#7985A6"
        cyan "#decdc7"
        white "#0a0f36"
        orange "#d87d77"
    }
}
