themes {
    default {
        fg "#070A19"
        bg "#A06063"
        black "#ffefe6"
        red "#556C90"
        green "#DE9173"
        yellow "#35608E"
        blue "#9D758A"
        magenta "#5E9CBC"
        cyan "#e9c8c0"
        white "#274aa8"
        orange "#e06c71"
    }
}
