themes {
    default {
        fg "#071111"
        bg "#CE6925"
        black "#e9f1f6"
        red "#5F4643"
        green "#CC8D50"
        yellow "#344864"
        blue "#9B5449"
        magenta "#A8502D"
        cyan "#afb5b9"
        white "#143535"
        orange "#ff8520"
    }
}
